* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: #edf2fb;
}
main {
  padding-top: 60px;
}
.products-page {
  max-width: 1200px;
  height: 500px;
  margin: auto;
  background-image: linear-gradient(
    to right,
    #fff,
    #fff 60%,
    #220efa 40%,
    rgb(34, 14, 250)
  );
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 3px 31px 4px rgba(149,157,167,0.75);
  /* box-shadow: rgba(149, 157, 167, 0.2) 0 8px 24px; */
}
.products-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-box {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  width: 51%;
}
.items {
  /* border: 1px solid black; */
  width: auto;
  background-color: #edf2fb;
  border-radius: 15px;
  margin-right: 25px;
  padding: 20px;
  box-shadow: rgba(149, 157, 167, 0.2) 0 8px 24px;
}
.items img {
  width: 100%;
  border-radius: 10px;
}
.items p {
  margin: 8px 0 0 2px;
  text-align: center;
  color: #303030;
  font-weight: 700;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.items span {
  display: block;
  margin-top: 2px;
  color: gray;
  text-align: center;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.left-box {
  width: 49%;
  /* border: 1px solid black; */
}
.text-box {
  /* border: 1px solid black; */
  width: 47%;
  padding: 20px;
  margin-left: 50px;
}
.text-box h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #303030;
}
.text-box p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  line-height: 25px;
}
.text-box a {
  background-color: #220efa;
  padding: 8px 16px;
  box-shadow: 1px 11px 17px -4px rgba(34,14,250,0.55);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: pointer;
}
.text-box a:hover {
  background-color: #edf2fb;
  color: #303030;
  box-shadow: rgba(149, 157, 167, 0.2) 0 15px 60px;
  font-weight: 900;
}

@media (max-width: 1170px) {
  .products-page {
    width: auto;
    margin: 0 50px;
  }
  .text-box h1 {
    font-size: 1.5rem;
  }
  .text-box p {
    font-size: 0.9rem;
  }
}
@media (max-width: 1010px) {
  .text-box {
    width: 55%;
  }
  
}
