* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.page1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px 0; */
  background-color: #edf2fb;
}
.products-page {
  max-width: 1200px;
  height: 560px;
  margin: 0 auto;
  background-image: linear-gradient(
    to right,
    #fff,
    #fff 60%,
    #220efa 40%,
    rgb(34, 14, 250)
  );
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 3px 31px 4px rgba(149, 157, 167, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.product-box {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  width: 51%;
}
.items {
  /* border: 1px solid black; */
  width: auto;
  background-color: #edf2fb;
  border-radius: 15px;
  margin-right: 25px;
  padding: 20px;
  box-shadow: rgba(149, 157, 167, 0.2) 0 8px 24px;
}
.items img {
  width: 100%;
  border-radius: 10px;
}
.items p {
  margin: 8px 0 0 2px;
  text-align: center;
  color: #303030;
  font-weight: 800;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.items span {
  display: block;
  margin-top: 2px;
  color: gray;
  font-weight: 800;
  text-align: center;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.left-box {
  width: 49%;
  /* border: 1px solid black; */
}
.text-box {
  /* border: 1px solid black; */
  width: 47%;
  padding: 20px;
  margin-left: 80px;
}
.text-box h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #303030;
}
.text-box p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  line-height: 25px;
}
.text-box a {
  background-color: #220efa;
  padding: 8px 16px;
  box-shadow: 1px 11px 17px -4px rgba(34, 14, 250, 0.55);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: pointer;
}
.text-box a:hover {
  background-color: #edf2fb;
  color: #303030;
  box-shadow: rgba(149, 157, 167, 0.2) 0 15px 60px;
  font-weight: 900;
}
.search-icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: opacity(90%);
  box-shadow: rgba(149, 157, 167, 0.2) 0 8px 24px;
}
.search-icon img {
  width: 20px;
}
.explore {
  /* border: 1px solid black; */
  position: absolute;
  bottom: 20px;
  right: 445px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  filter: opacity(80%);
}
.explore span {
  color: black;
  font-size: 0.7rem;
  font-weight: 800;
  margin-right: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* transform: rotate(90deg); */
}
.explore img {
  /* height: 30px; */
  width: 40px;
}
.media-icons {
  /* border: 1px solid black; */
  position: absolute;
  left: 20px;
  bottom: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-icons img:first-child {
  width: 20px;
  filter: opacity(55%);
  margin-right: 7px;
  padding-bottom: 4px;
}
.media-icons img:last-child {
  width: 22px;
  filter: opacity(55%);
}
.botostart {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  top: 20px;
  left: 20px;
}
.botostart span {
  font-size: 1.1rem;
  font-weight: bolder;
  color: #303030;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.botostart div {
  width: 11px;
  height: 11px;
  background-color: rgb(34, 14, 250);
  box-shadow: 0px 0px 8px 2px rgba(34, 14, 250, 0.36);
  border-radius: 50%;
  margin: 0 2.5px;
}
.page2 {
  background-color: #edf2fb;
}
.container {
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: auto;
  box-shadow: 4px 3px 31px 4px rgba(149, 157, 167, 0.75);
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: #edf2fb;
}
header {
  background-color: #220efa;
  font-size: 2rem;
  padding: 20px 100px;
  margin: 0 0 50px;
  color: #fff;
}
#search {
  padding: 0 120px;
}
input {
  width: 300px;
  border: 1px solid #220efa;
  padding: 7px;
  font-weight: 700;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #220efa;
  /* border-radius: 8px; */
  margin: 30px 0;
  outline: none;
}
button {
  border: none;
  width: 100px;
  height: 32px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  margin-right: 10px;
  /* border-radius: 8px; */
  background-color: #220efa;
}
#search-price {
  margin-bottom: 30px;
}
.selected {
  color: #220efa;
  background-color: #fff;
  border: 1px solid #220efa;
}
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
}

.product-item {
  background-color: #fff;
  width: 290px;
  margin: 30px 0;
  box-shadow: rgba(149, 157, 167, 0.2) 0 8px 24px;
  border-radius: 20px;
  padding: 15px;
}
.product-item img {
  width: 260px;
  border-radius: 15px;
  margin-bottom: 8px;
}
.product-item p {
  color: #303030;
  margin: 0 4px;
  text-align: center;
  font-weight: 800;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.product-item span {
  display: block;
  text-align: center;
  margin-bottom: 0;
  color: gray;
  font-weight: 800;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  border-radius: 10px;
}
@media (max-width: 1170px) {
  .products-page {
    width: auto;
    margin: 0 50px;
  }
  .text-box h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .text-box p {
    font-size: 0.9rem;
    line-height: 20px;
  }
}
@media (max-width: 1010px) {
  .text-box {
    width: 55%;
  }
}
@media (max-width: 1000px) {
  #search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .product-item {
    margin: 10px;
  }
}
